<div class="GymSetup__flexParent">
  <div *ngIf="currStep ===1" class="GymSetup__stepOne" [ngClass]="{'GymSteup__stepHidden': stepOne !== 1}">
    <div class="GymSetup__stepOneDescription">Paper to Code</div>
    <div class="GymSetup__stepOneadditionalInfo">We will generate the code for this paper</div>
    <div class="GymSetup__stepBox">
      <form class="OpLogin__form" [formGroup]="form" (ngSubmit)="stepOneContinue()">
      <div class="inputFlexbox"><label class="GymSetup__LabelText GymSetup__stepOneGymNameLabelSpacer">Paper</label>
      <input class="GymSetup__textInput GymSetup__stepOneInputSpacer GymSetup__descriptionTextBox" id="paper" name="paper" type="text" required formControlName="paper">
      </div>
      </form>
    </div>
    <button class="GymSetup__StepOneButton" (click)="stepOneContinue()">Continue</button>

  </div>

</div>
